*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  
}

.navbar
{
    top: 15px;
    background-color: #174576;
    padding-left: 20px;
    display: flex;
    padding-bottom: 5px;
}

.navbar div img
{
    width: 150px;
    height: 50px;
}

.navbar ul 
{
    margin-top: 10px;
    display: flex;
    padding-left: 900px;
    list-style: none;
    text-align: center;
}
.navbar ul li img
{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile li p{
    margin-top: 13px;
}

body{
    background-color: #F5E1AC;
    
}

.container-brg{
    
    font-size: 10px;
	margin-left: 200px;
	padding: 30px;
    display: flex;
    gap: 3rem;
}


.card-brg{
    background-color: white;
    
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-radius: 0.3rem;
    padding: 15px 0px 15px 0px;
}

.profile-card{
    display: flex;
    
    margin-bottom: 10px;
    gap: 2rem;
}

.profile-text{
    display: flow-root;
    
}

.profile-card p{
    margin-top: 5px;
    
    font-size: medium;
}
.profile-card img{
    margin-left: 10px;
    object-fit: cover;
    object-position: center center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.brg-img img{
 
    width: 250px;
    height: 250px;
    
}

.textcard{
    margin-top: 15px;
    margin-left: 10px;
    font-size: medium;
    
}

.button{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    text-decoration: none;
    background-color: #174576;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}